# Import and Export Files

# Challenge 0 - Accessing our database
Create a connection to access the sakila database with the ip, user and password provided in class. Take a look at the data. Do some joins in order to have more elaborated tables in a dataframe (you can try first the query in the DBMS and then use it in your notebook).

In [2]:
import mysql.connector
cnx= mysql.connector.connect(user="root", password="Love.2103", host="127.0.0.1")
cnx.is_connected()
cursor= cnx.cursor()
query="""SELECT actor.actor_id, first_name, last_name, film_id
FROM sakila.actor
INNER JOIN sakila.film_actor
ON actor.actor_id=film_actor.actor_id;"""
cursor.execute(query)
result=cursor.fetchall()
result

[(1, 'PENELOPE', 'GUINESS', 1),
 (1, 'PENELOPE', 'GUINESS', 23),
 (1, 'PENELOPE', 'GUINESS', 25),
 (1, 'PENELOPE', 'GUINESS', 106),
 (1, 'PENELOPE', 'GUINESS', 140),
 (1, 'PENELOPE', 'GUINESS', 166),
 (1, 'PENELOPE', 'GUINESS', 277),
 (1, 'PENELOPE', 'GUINESS', 361),
 (1, 'PENELOPE', 'GUINESS', 438),
 (1, 'PENELOPE', 'GUINESS', 499),
 (1, 'PENELOPE', 'GUINESS', 506),
 (1, 'PENELOPE', 'GUINESS', 509),
 (1, 'PENELOPE', 'GUINESS', 605),
 (1, 'PENELOPE', 'GUINESS', 635),
 (1, 'PENELOPE', 'GUINESS', 749),
 (1, 'PENELOPE', 'GUINESS', 832),
 (1, 'PENELOPE', 'GUINESS', 939),
 (1, 'PENELOPE', 'GUINESS', 970),
 (1, 'PENELOPE', 'GUINESS', 980),
 (2, 'NICK', 'WAHLBERG', 3),
 (2, 'NICK', 'WAHLBERG', 31),
 (2, 'NICK', 'WAHLBERG', 47),
 (2, 'NICK', 'WAHLBERG', 105),
 (2, 'NICK', 'WAHLBERG', 132),
 (2, 'NICK', 'WAHLBERG', 145),
 (2, 'NICK', 'WAHLBERG', 226),
 (2, 'NICK', 'WAHLBERG', 249),
 (2, 'NICK', 'WAHLBERG', 314),
 (2, 'NICK', 'WAHLBERG', 321),
 (2, 'NICK', 'WAHLBERG', 357),
 (2, 'NICK', 'WAHLBERG', 369),
 (2, 'NICK', 'WAHLBERG', 399),
 (2, 'NICK', 'WAHLBERG', 458),
 (2, 'NICK', 'WAHLBERG', 481),
 (2, 'NICK', 'WAHLBERG', 485),
 (2, 'NICK', 'WAHLBERG', 518),
 (2, 'NICK', 'WAHLBERG', 540),
 (2, 'NICK', 'WAHLBERG', 550),
 (2, 'NICK', 'WAHLBERG', 555),
 (2, 'NICK', 'WAHLBERG', 561),
 (2, 'NICK', 'WAHLBERG', 742),
 (2, 'NICK', 'WAHLBERG', 754),
 (2, 'NICK', 'WAHLBERG', 811),
 (2, 'NICK', 'WAHLBERG', 958),
 (3, 'ED', 'CHASE', 17),
 (3, 'ED', 'CHASE', 40),
 (3, 'ED', 'CHASE', 42),
 (3, 'ED', 'CHASE', 87),
 (3, 'ED', 'CHASE', 111),
 (3, 'ED', 'CHASE', 185),
 (3, 'ED', 'CHASE', 289),
 (3, 'ED', 'CHASE', 329),
 (3, 'ED', 'CHASE', 336),
 (3, 'ED', 'CHASE', 341),
 (3, 'ED', 'CHASE', 393),
 (3, 'ED', 'CHASE', 441),
 (3, 'ED', 'CHASE', 453),
 (3, 'ED', 'CHASE', 480),
 (3, 'ED', 'CHASE', 539),
 (3, 'ED', 'CHASE', 618),
 (3, 'ED', 'CHASE', 685),
 (3, 'ED', 'CHASE', 827),
 (3, 'ED', 'CHASE', 966),
 (3, 'ED', 'CHASE', 967),
 (3, 'ED', 'CHASE', 971),
 (3, 'ED', 'CHASE', 996),
 (4, 'JENNIFER', 'DAVIS', 23),
 (4, 'JENNIFER', 'DAVIS', 25),
 (4, 'JENNIFER', 'DAVIS', 56),
 (4, 'JENNIFER', 'DAVIS', 62),
 (4, 'JENNIFER', 'DAVIS', 79),
 (4, 'JENNIFER', 'DAVIS', 87),
 (4, 'JENNIFER', 'DAVIS', 355),
 (4, 'JENNIFER', 'DAVIS', 379),
 (4, 'JENNIFER', 'DAVIS', 398),
 (4, 'JENNIFER', 'DAVIS', 463),
 (4, 'JENNIFER', 'DAVIS', 490),
 (4, 'JENNIFER', 'DAVIS', 616),
 (4, 'JENNIFER', 'DAVIS', 635),
 (4, 'JENNIFER', 'DAVIS', 691),
 (4, 'JENNIFER', 'DAVIS', 712),
 (4, 'JENNIFER', 'DAVIS', 714),
 (4, 'JENNIFER', 'DAVIS', 721),
 (4, 'JENNIFER', 'DAVIS', 798),
 (4, 'JENNIFER', 'DAVIS', 832),
 (4, 'JENNIFER', 'DAVIS', 858),
 (4, 'JENNIFER', 'DAVIS', 909),
 (4, 'JENNIFER', 'DAVIS', 924),
 (5, 'JOHNNY', 'LOLLOBRIGIDA', 19),
 (5, 'JOHNNY', 'LOLLOBRIGIDA', 54),
 (5, 'JOHNNY', 'LOLLOBRIGIDA', 85),
 (5, 'JOHNNY', 'LOLLOBRIGIDA', 146),
 (5, 'JOHNNY', 'LOLLOBRIGIDA', 171),
 (5, 'JOHNNY', 'LOLLOBRIGIDA', 172),
 (5, 'JOHNNY', 'LOLLOBRIGIDA', 202),
 (5, 'JOHNNY', 'LOLLOBRIGIDA', 203),
 (5, 'JOHNNY', 'LOLLOBRIGIDA', 286),
 (5, 'JOHNNY', 'LOLLOBRIGIDA', 288),
 (5, 'JOHNNY', 'LOLLOBRIGIDA', 316),
 (5, 'JOHNNY', 'LOLLOBRIGIDA', 340),
 (5, 'JOHNNY', 'LOLLOBRIGIDA', 369),
 (5, 'JOHNNY', 'LOLLOBRIGIDA', 375),
 (5, 'JOHNNY', 'LOLLOBRIGIDA', 383),
 (5, 'JOHNNY', 'LOLLOBRIGIDA', 392),
 (5, 'JOHNNY', 'LOLLOBRIGIDA', 411),
 (5, 'JOHNNY', 'LOLLOBRIGIDA', 503),
 (5, 'JOHNNY', 'LOLLOBRIGIDA', 535),
 (5, 'JOHNNY', 'LOLLOBRIGIDA', 571),
 (5, 'JOHNNY', 'LOLLOBRIGIDA', 650),
 (5, 'JOHNNY', 'LOLLOBRIGIDA', 665),
 (5, 'JOHNNY', 'LOLLOBRIGIDA', 687),
 (5, 'JOHNNY', 'LOLLOBRIGIDA', 730),
 (5, 'JOHNNY', 'LOLLOBRIGIDA', 732),
 (5, 'JOHNNY', 'LOLLOBRIGIDA', 811),
 (5, 'JOHNNY', 'LOLLOBRIGIDA', 817),
 (5, 'JOHNNY', 'LOLLOBRIGIDA', 841),
 (5, 'JOHNNY', 'LOLLOBRIGIDA', 865),
 (6, 'BETTE', 'NICHOLSON', 29),
 (6, 'BETTE', 'NICHOLSON', 53),
 (6, 'BETTE', 'NICHOLSON', 60),
 (6, 'BETTE', 'NICHOLSON', 70),
 (6, 'BETTE', 'NICHOLSON', 112),
 (6, 'BETTE', 'NICHOLSON', 164),
 (6, 'BETTE', 'NICHOLSON', 165),
 (6, 'BETTE', 'NICHOLSON', 193),
 (6, 'BETTE', 'NICHOLSON', 256),
 (6, 'BETTE', 'NICHOLSON', 451),
 (6, 'BETTE', 'NICHOLSON', 503),
 (6, 'BETTE', 'NICHOLSON', 509),
 (6, 'BETTE', 'NICHOLSON', 517),
 (6, 'BETTE', 'NICHOLSON', 519),
 (6, 'BETTE', 'NICHOLSON', 605),
 (6, 'BETTE', 'NICHOLSON', 692),
 (6, 'BETTE', 'NICHOLSON', 826),
 (6, 'BETTE', 'NICHOLSON', 892),
 (6, 'BETTE', 'NICHOLSON', 902),
 (6, 'BETTE', 'NICHOLSON', 994),
 (7, 'GRACE', 'MOSTEL', 25),
 (7, 'GRACE', 'MOSTEL', 27),
 (7, 'GRACE', 'MOSTEL', 35),
 (7, 'GRACE', 'MOSTEL', 67),
 (7, 'GRACE', 'MOSTEL', 96),
 (7, 'GRACE', 'MOSTEL', 170),
 (7, 'GRACE', 'MOSTEL', 173),
 (7, 'GRACE', 'MOSTEL', 217),
 (7, 'GRACE', 'MOSTEL', 218),
 (7, 'GRACE', 'MOSTEL', 225),
 (7, 'GRACE', 'MOSTEL', 292),
 (7, 'GRACE', 'MOSTEL', 351),
 (7, 'GRACE', 'MOSTEL', 414),
 (7, 'GRACE', 'MOSTEL', 463),
 (7, 'GRACE', 'MOSTEL', 554),
 (7, 'GRACE', 'MOSTEL', 618),
 (7, 'GRACE', 'MOSTEL', 633),
 (7, 'GRACE', 'MOSTEL', 637),
 (7, 'GRACE', 'MOSTEL', 691),
 (7, 'GRACE', 'MOSTEL', 758),
 (7, 'GRACE', 'MOSTEL', 766),
 (7, 'GRACE', 'MOSTEL', 770),
 (7, 'GRACE', 'MOSTEL', 805),
 (7, 'GRACE', 'MOSTEL', 806),
 (7, 'GRACE', 'MOSTEL', 846),
 (7, 'GRACE', 'MOSTEL', 900),
 (7, 'GRACE', 'MOSTEL', 901),
 (7, 'GRACE', 'MOSTEL', 910),
 (7, 'GRACE', 'MOSTEL', 957),
 (7, 'GRACE', 'MOSTEL', 959),
 (8, 'MATTHEW', 'JOHANSSON', 47),
 (8, 'MATTHEW', 'JOHANSSON', 115),
 (8, 'MATTHEW', 'JOHANSSON', 158),
 (8, 'MATTHEW', 'JOHANSSON', 179),
 (8, 'MATTHEW', 'JOHANSSON', 195),
 (8, 'MATTHEW', 'JOHANSSON', 205),
 (8, 'MATTHEW', 'JOHANSSON', 255),
 (8, 'MATTHEW', 'JOHANSSON', 263),
 (8, 'MATTHEW', 'JOHANSSON', 321),
 (8, 'MATTHEW', 'JOHANSSON', 396),
 (8, 'MATTHEW', 'JOHANSSON', 458),
 (8, 'MATTHEW', 'JOHANSSON', 523),
 (8, 'MATTHEW', 'JOHANSSON', 532),
 (8, 'MATTHEW', 'JOHANSSON', 554),
 (8, 'MATTHEW', 'JOHANSSON', 752),
 (8, 'MATTHEW', 'JOHANSSON', 769),
 (8, 'MATTHEW', 'JOHANSSON', 771),
 (8, 'MATTHEW', 'JOHANSSON', 859),
 (8, 'MATTHEW', 'JOHANSSON', 895),
 (8, 'MATTHEW', 'JOHANSSON', 936),
 (9, 'JOE', 'SWANK', 30),
 (9, 'JOE', 'SWANK', 74),
 (9, 'JOE', 'SWANK', 147),
 (9, 'JOE', 'SWANK', 148),
 (9, 'JOE', 'SWANK', 191),
 (9, 'JOE', 'SWANK', 200),
 (9, 'JOE', 'SWANK', 204),
 (9, 'JOE', 'SWANK', 434),
 (9, 'JOE', 'SWANK', 510),
 (9, 'JOE', 'SWANK', 514),
 (9, 'JOE', 'SWANK', 552),
 (9, 'JOE', 'SWANK', 650),
 (9, 'JOE', 'SWANK', 671),
 (9, 'JOE', 'SWANK', 697),
 (9, 'JOE', 'SWANK', 722),
 (9, 'JOE', 'SWANK', 752),
 (9, 'JOE', 'SWANK', 811),
 (9, 'JOE', 'SWANK', 815),
 (9, 'JOE', 'SWANK', 865),
 (9, 'JOE', 'SWANK', 873),
 (9, 'JOE', 'SWANK', 889),
 (9, 'JOE', 'SWANK', 903),
 (9, 'JOE', 'SWANK', 926),
 (9, 'JOE', 'SWANK', 964),
 (9, 'JOE', 'SWANK', 974),
 (10, 'CHRISTIAN', 'GABLE', 1),
 (10, 'CHRISTIAN', 'GABLE', 9),
 (10, 'CHRISTIAN', 'GABLE', 191),
 (10, 'CHRISTIAN', 'GABLE', 236),
 (10, 'CHRISTIAN', 'GABLE', 251),
 (10, 'CHRISTIAN', 'GABLE', 366),
 (10, 'CHRISTIAN', 'GABLE', 477),
 (10, 'CHRISTIAN', 'GABLE', 480),
 (10, 'CHRISTIAN', 'GABLE', 522),
 (10, 'CHRISTIAN', 'GABLE', 530),
 (10, 'CHRISTIAN', 'GABLE', 587),
 (10, 'CHRISTIAN', 'GABLE', 694),
 (10, 'CHRISTIAN', 'GABLE', 703),
 (10, 'CHRISTIAN', 'GABLE', 716),
 (10, 'CHRISTIAN', 'GABLE', 782),
 (10, 'CHRISTIAN', 'GABLE', 914),
 (10, 'CHRISTIAN', 'GABLE', 929),
 (10, 'CHRISTIAN', 'GABLE', 930),
 (10, 'CHRISTIAN', 'GABLE', 964),
 (10, 'CHRISTIAN', 'GABLE', 966),
 (10, 'CHRISTIAN', 'GABLE', 980),
 (10, 'CHRISTIAN', 'GABLE', 983),
 (11, 'ZERO', 'CAGE', 118),
 (11, 'ZERO', 'CAGE', 205),
 (11, 'ZERO', 'CAGE', 281),
 (11, 'ZERO', 'CAGE', 283),
 (11, 'ZERO', 'CAGE', 348),
 (11, 'ZERO', 'CAGE', 364),
 (11, 'ZERO', 'CAGE', 395),
 (11, 'ZERO', 'CAGE', 429),
 (11, 'ZERO', 'CAGE', 433),
 (11, 'ZERO', 'CAGE', 453),
 (11, 'ZERO', 'CAGE', 485),
 (11, 'ZERO', 'CAGE', 532),
 (11, 'ZERO', 'CAGE', 567),
 (11, 'ZERO', 'CAGE', 587),
 (11, 'ZERO', 'CAGE', 597),
 (11, 'ZERO', 'CAGE', 636),
 (11, 'ZERO', 'CAGE', 709),
 (11, 'ZERO', 'CAGE', 850),
 (11, 'ZERO', 'CAGE', 854),
 (11, 'ZERO', 'CAGE', 888),
 (11, 'ZERO', 'CAGE', 896),
 (11, 'ZERO', 'CAGE', 928),
 (11, 'ZERO', 'CAGE', 938),
 (11, 'ZERO', 'CAGE', 969),
 (11, 'ZERO', 'CAGE', 988),
 (12, 'KARL', 'BERRY', 16),
 (12, 'KARL', 'BERRY', 17),
 (12, 'KARL', 'BERRY', 34),
 (12, 'KARL', 'BERRY', 37),
 (12, 'KARL', 'BERRY', 91),
 (12, 'KARL', 'BERRY', 92),
 (12, 'KARL', 'BERRY', 107),
 (12, 'KARL', 'BERRY', 155),
 (12, 'KARL', 'BERRY', 177),
 (12, 'KARL', 'BERRY', 208),
 (12, 'KARL', 'BERRY', 213),
 (12, 'KARL', 'BERRY', 216),
 (12, 'KARL', 'BERRY', 243),
 (12, 'KARL', 'BERRY', 344),
 (12, 'KARL', 'BERRY', 400),
 (12, 'KARL', 'BERRY', 416),
 (12, 'KARL', 'BERRY', 420),
 (12, 'KARL', 'BERRY', 457),
 (12, 'KARL', 'BERRY', 513),
 (12, 'KARL', 'BERRY', 540),
 (12, 'KARL', 'BERRY', 593),
 (12, 'KARL', 'BERRY', 631),
 (12, 'KARL', 'BERRY', 635),
 (12, 'KARL', 'BERRY', 672),
 (12, 'KARL', 'BERRY', 716),
 (12, 'KARL', 'BERRY', 728),
 (12, 'KARL', 'BERRY', 812),
 (12, 'KARL', 'BERRY', 838),
 (12, 'KARL', 'BERRY', 871),
 (12, 'KARL', 'BERRY', 880),
 (12, 'KARL', 'BERRY', 945),
 (13, 'UMA', 'WOOD', 17),
 (13, 'UMA', 'WOOD', 29),
 (13, 'UMA', 'WOOD', 45),
 (13, 'UMA', 'WOOD', 87),
 (13, 'UMA', 'WOOD', 110),
 (13, 'UMA', 'WOOD', 144),
 (13, 'UMA', 'WOOD', 154),
 (13, 'UMA', 'WOOD', 162),
 (13, 'UMA', 'WOOD', 203),
 (13, 'UMA', 'WOOD', 254),
 (13, 'UMA', 'WOOD', 337),
 (13, 'UMA', 'WOOD', 346),
 (13, 'UMA', 'WOOD', 381),
 (13, 'UMA', 'WOOD', 385),
 (13, 'UMA', 'WOOD', 427),
 (13, 'UMA', 'WOOD', 456),
 (13, 'UMA', 'WOOD', 513),
 (13, 'UMA', 'WOOD', 515),
 (13, 'UMA', 'WOOD', 522),
 (13, 'UMA', 'WOOD', 524),
 (13, 'UMA', 'WOOD', 528),
 (13, 'UMA', 'WOOD', 571),
 (13, 'UMA', 'WOOD', 588),
 (13, 'UMA', 'WOOD', 597),
 (13, 'UMA', 'WOOD', 600),
 (13, 'UMA', 'WOOD', 718),
 (13, 'UMA', 'WOOD', 729),
 (13, 'UMA', 'WOOD', 816),
 (13, 'UMA', 'WOOD', 817),
 (13, 'UMA', 'WOOD', 832),
 (13, 'UMA', 'WOOD', 833),
 (13, 'UMA', 'WOOD', 843),
 (13, 'UMA', 'WOOD', 897),
 (13, 'UMA', 'WOOD', 966),
 (13, 'UMA', 'WOOD', 998),
 (14, 'VIVIEN', 'BERGEN', 154),
 (14, 'VIVIEN', 'BERGEN', 187),
 (14, 'VIVIEN', 'BERGEN', 232),
 (14, 'VIVIEN', 'BERGEN', 241),
 (14, 'VIVIEN', 'BERGEN', 253),
 (14, 'VIVIEN', 'BERGEN', 255),
 (14, 'VIVIEN', 'BERGEN', 258),
 (14, 'VIVIEN', 'BERGEN', 284),
 (14, 'VIVIEN', 'BERGEN', 292),
 (14, 'VIVIEN', 'BERGEN', 370),
 (14, 'VIVIEN', 'BERGEN', 415),
 (14, 'VIVIEN', 'BERGEN', 417),
 (14, 'VIVIEN', 'BERGEN', 418),
 (14, 'VIVIEN', 'BERGEN', 454),
 (14, 'VIVIEN', 'BERGEN', 472),
 (14, 'VIVIEN', 'BERGEN', 475),
 (14, 'VIVIEN', 'BERGEN', 495),
 (14, 'VIVIEN', 'BERGEN', 536),
 (14, 'VIVIEN', 'BERGEN', 537),
 (14, 'VIVIEN', 'BERGEN', 612),
 (14, 'VIVIEN', 'BERGEN', 688),
 (14, 'VIVIEN', 'BERGEN', 759),
 (14, 'VIVIEN', 'BERGEN', 764),
 (14, 'VIVIEN', 'BERGEN', 847),
 (14, 'VIVIEN', 'BERGEN', 856),
 (14, 'VIVIEN', 'BERGEN', 890),
 (14, 'VIVIEN', 'BERGEN', 908),
 (14, 'VIVIEN', 'BERGEN', 919),
 (14, 'VIVIEN', 'BERGEN', 948),
 (14, 'VIVIEN', 'BERGEN', 970),
 (15, 'CUBA', 'OLIVIER', 31),
 (15, 'CUBA', 'OLIVIER', 89),
 (15, 'CUBA', 'OLIVIER', 91),
 (15, 'CUBA', 'OLIVIER', 108),
 (15, 'CUBA', 'OLIVIER', 125),
 (15, 'CUBA', 'OLIVIER', 236),
 (15, 'CUBA', 'OLIVIER', 275),
 (15, 'CUBA', 'OLIVIER', 280),
 (15, 'CUBA', 'OLIVIER', 326),
 (15, 'CUBA', 'OLIVIER', 342),
 (15, 'CUBA', 'OLIVIER', 414),
 (15, 'CUBA', 'OLIVIER', 445),
 (15, 'CUBA', 'OLIVIER', 500),
 (15, 'CUBA', 'OLIVIER', 502),
 (15, 'CUBA', 'OLIVIER', 541),
 (15, 'CUBA', 'OLIVIER', 553),
 (15, 'CUBA', 'OLIVIER', 594),
 (15, 'CUBA', 'OLIVIER', 626),
 (15, 'CUBA', 'OLIVIER', 635),
 (15, 'CUBA', 'OLIVIER', 745),
 (15, 'CUBA', 'OLIVIER', 783),
 (15, 'CUBA', 'OLIVIER', 795),
 (15, 'CUBA', 'OLIVIER', 817),
 (15, 'CUBA', 'OLIVIER', 886),
 (15, 'CUBA', 'OLIVIER', 924),
 (15, 'CUBA', 'OLIVIER', 949),
 (15, 'CUBA', 'OLIVIER', 968),
 (15, 'CUBA', 'OLIVIER', 985),
 (16, 'FRED', 'COSTNER', 80),
 (16, 'FRED', 'COSTNER', 87),
 (16, 'FRED', 'COSTNER', 101),
 (16, 'FRED', 'COSTNER', 121),
 (16, 'FRED', 'COSTNER', 155),
 (16, 'FRED', 'COSTNER', 177),
 (16, 'FRED', 'COSTNER', 218),
 (16, 'FRED', 'COSTNER', 221),
 (16, 'FRED', 'COSTNER', 267),
 (16, 'FRED', 'COSTNER', 269),
 (16, 'FRED', 'COSTNER', 271),
 (16, 'FRED', 'COSTNER', 280),
 (16, 'FRED', 'COSTNER', 287),
 (16, 'FRED', 'COSTNER', 345),
 (16, 'FRED', 'COSTNER', 438),
 (16, 'FRED', 'COSTNER', 453),
 (16, 'FRED', 'COSTNER', 455),
 (16, 'FRED', 'COSTNER', 456),
 (16, 'FRED', 'COSTNER', 503),
 (16, 'FRED', 'COSTNER', 548),
 (16, 'FRED', 'COSTNER', 582),
 (16, 'FRED', 'COSTNER', 583),
 (16, 'FRED', 'COSTNER', 717),
 (16, 'FRED', 'COSTNER', 758),
 (16, 'FRED', 'COSTNER', 779),
 (16, 'FRED', 'COSTNER', 886),
 (16, 'FRED', 'COSTNER', 967),
 (17, 'HELEN', 'VOIGHT', 96),
 (17, 'HELEN', 'VOIGHT', 119),
 (17, 'HELEN', 'VOIGHT', 124),
 (17, 'HELEN', 'VOIGHT', 127),
 (17, 'HELEN', 'VOIGHT', 154),
 (17, 'HELEN', 'VOIGHT', 199),
 (17, 'HELEN', 'VOIGHT', 201),
 (17, 'HELEN', 'VOIGHT', 236),
 (17, 'HELEN', 'VOIGHT', 280),
 (17, 'HELEN', 'VOIGHT', 310),
 (17, 'HELEN', 'VOIGHT', 313),
 (17, 'HELEN', 'VOIGHT', 378),
 (17, 'HELEN', 'VOIGHT', 457),
 (17, 'HELEN', 'VOIGHT', 469),
 (17, 'HELEN', 'VOIGHT', 478),
 (17, 'HELEN', 'VOIGHT', 500),
 (17, 'HELEN', 'VOIGHT', 515),
 (17, 'HELEN', 'VOIGHT', 521),
 (17, 'HELEN', 'VOIGHT', 573),
 (17, 'HELEN', 'VOIGHT', 603),
 (17, 'HELEN', 'VOIGHT', 606),
 (17, 'HELEN', 'VOIGHT', 734),
 (17, 'HELEN', 'VOIGHT', 770),
 (17, 'HELEN', 'VOIGHT', 794),
 (17, 'HELEN', 'VOIGHT', 800),
 (17, 'HELEN', 'VOIGHT', 853),
 (17, 'HELEN', 'VOIGHT', 873),
 (17, 'HELEN', 'VOIGHT', 874),
 (17, 'HELEN', 'VOIGHT', 880),
 (17, 'HELEN', 'VOIGHT', 948),
 (17, 'HELEN', 'VOIGHT', 957),
 (17, 'HELEN', 'VOIGHT', 959),
 (18, 'DAN', 'TORN', 44),
 (18, 'DAN', 'TORN', 84),
 (18, 'DAN', 'TORN', 144),
 (18, 'DAN', 'TORN', 172),
 (18, 'DAN', 'TORN', 268),
 (18, 'DAN', 'TORN', 279),
 (18, 'DAN', 'TORN', 280),
 (18, 'DAN', 'TORN', 321),
 (18, 'DAN', 'TORN', 386),
 (18, 'DAN', 'TORN', 460),
 (18, 'DAN', 'TORN', 462),
 (18, 'DAN', 'TORN', 484),
 (18, 'DAN', 'TORN', 536),
 (18, 'DAN', 'TORN', 561),
 (18, 'DAN', 'TORN', 612),
 (18, 'DAN', 'TORN', 717),
 (18, 'DAN', 'TORN', 808),
 (18, 'DAN', 'TORN', 842),
 (18, 'DAN', 'TORN', 863),
 (18, 'DAN', 'TORN', 883),
 (18, 'DAN', 'TORN', 917),
 (18, 'DAN', 'TORN', 944),
 (19, 'BOB', 'FAWCETT', 2),
 (19, 'BOB', 'FAWCETT', 3),
 (19, 'BOB', 'FAWCETT', 144),
 (19, 'BOB', 'FAWCETT', 152),
 (19, 'BOB', 'FAWCETT', 182),
 (19, 'BOB', 'FAWCETT', 208),
 (19, 'BOB', 'FAWCETT', 212),
 (19, 'BOB', 'FAWCETT', 217),
 (19, 'BOB', 'FAWCETT', 266),
 (19, 'BOB', 'FAWCETT', 404),
 (19, 'BOB', 'FAWCETT', 428),
 (19, 'BOB', 'FAWCETT', 473),
 (19, 'BOB', 'FAWCETT', 490),
 (19, 'BOB', 'FAWCETT', 510),
 (19, 'BOB', 'FAWCETT', 513),
 (19, 'BOB', 'FAWCETT', 644),
 (19, 'BOB', 'FAWCETT', 670),
 (19, 'BOB', 'FAWCETT', 673),
 (19, 'BOB', 'FAWCETT', 711),
 (19, 'BOB', 'FAWCETT', 750),
 (19, 'BOB', 'FAWCETT', 752),
 (19, 'BOB', 'FAWCETT', 756),
 (19, 'BOB', 'FAWCETT', 771),
 (19, 'BOB', 'FAWCETT', 785),
 (19, 'BOB', 'FAWCETT', 877),
 (20, 'LUCILLE', 'TRACY', 1),
 (20, 'LUCILLE', 'TRACY', 54),
 (20, 'LUCILLE', 'TRACY', 63),
 (20, 'LUCILLE', 'TRACY', 140),
 (20, 'LUCILLE', 'TRACY', 146),
 (20, 'LUCILLE', 'TRACY', 165),
 (20, 'LUCILLE', 'TRACY', 231),
 (20, 'LUCILLE', 'TRACY', 243),
 (20, 'LUCILLE', 'TRACY', 269),
 (20, 'LUCILLE', 'TRACY', 274),
 (20, 'LUCILLE', 'TRACY', 348),
 (20, 'LUCILLE', 'TRACY', 366),
 (20, 'LUCILLE', 'TRACY', 445),
 (20, 'LUCILLE', 'TRACY', 478),
 (20, 'LUCILLE', 'TRACY', 492),
 (20, 'LUCILLE', 'TRACY', 499),
 (20, 'LUCILLE', 'TRACY', 527),
 (20, 'LUCILLE', 'TRACY', 531),
 (20, 'LUCILLE', 'TRACY', 538),
 (20, 'LUCILLE', 'TRACY', 589),
 (20, 'LUCILLE', 'TRACY', 643),
 (20, 'LUCILLE', 'TRACY', 652),
 (20, 'LUCILLE', 'TRACY', 663),
 (20, 'LUCILLE', 'TRACY', 714),
 (20, 'LUCILLE', 'TRACY', 717),
 (20, 'LUCILLE', 'TRACY', 757),
 (20, 'LUCILLE', 'TRACY', 784),
 (20, 'LUCILLE', 'TRACY', 863),
 (20, 'LUCILLE', 'TRACY', 962),
 (20, 'LUCILLE', 'TRACY', 977),
 (21, 'KIRSTEN', 'PALTROW', 6),
 (21, 'KIRSTEN', 'PALTROW', 87),
 (21, 'KIRSTEN', 'PALTROW', 88),
 (21, 'KIRSTEN', 'PALTROW', 142),
 (21, 'KIRSTEN', 'PALTROW', 159),
 (21, 'KIRSTEN', 'PALTROW', 179),
 (21, 'KIRSTEN', 'PALTROW', 253),
 (21, 'KIRSTEN', 'PALTROW', 281),
 (21, 'KIRSTEN', 'PALTROW', 321),
 (21, 'KIRSTEN', 'PALTROW', 398),
 (21, 'KIRSTEN', 'PALTROW', 426),
 (21, 'KIRSTEN', 'PALTROW', 429),
 (21, 'KIRSTEN', 'PALTROW', 497),
 (21, 'KIRSTEN', 'PALTROW', 507),
 (21, 'KIRSTEN', 'PALTROW', 530),
 (21, 'KIRSTEN', 'PALTROW', 680),
 (21, 'KIRSTEN', 'PALTROW', 686),
 (21, 'KIRSTEN', 'PALTROW', 700),
 (21, 'KIRSTEN', 'PALTROW', 702),
 (21, 'KIRSTEN', 'PALTROW', 733),
 (21, 'KIRSTEN', 'PALTROW', 734),
 (21, 'KIRSTEN', 'PALTROW', 798),
 (21, 'KIRSTEN', 'PALTROW', 804),
 (21, 'KIRSTEN', 'PALTROW', 887),
 (21, 'KIRSTEN', 'PALTROW', 893),
 (21, 'KIRSTEN', 'PALTROW', 920),
 (21, 'KIRSTEN', 'PALTROW', 983),
 (22, 'ELVIS', 'MARX', 9),
 (22, 'ELVIS', 'MARX', 23),
 (22, 'ELVIS', 'MARX', 56),
 (22, 'ELVIS', 'MARX', 89),
 (22, 'ELVIS', 'MARX', 111),
 (22, 'ELVIS', 'MARX', 146),
 (22, 'ELVIS', 'MARX', 291),
 (22, 'ELVIS', 'MARX', 294),
 (22, 'ELVIS', 'MARX', 349),
 (22, 'ELVIS', 'MARX', 369),
 (22, 'ELVIS', 'MARX', 418),
 (22, 'ELVIS', 'MARX', 430),
 (22, 'ELVIS', 'MARX', 483),
 (22, 'ELVIS', 'MARX', 491),
 (22, 'ELVIS', 'MARX', 495),
 (22, 'ELVIS', 'MARX', 536),
 (22, 'ELVIS', 'MARX', 600),
 (22, 'ELVIS', 'MARX', 634),
 (22, 'ELVIS', 'MARX', 648),
 (22, 'ELVIS', 'MARX', 688),
 (22, 'ELVIS', 'MARX', 731),
 (22, 'ELVIS', 'MARX', 742),
 (22, 'ELVIS', 'MARX', 775),
 (22, 'ELVIS', 'MARX', 802),
 (22, 'ELVIS', 'MARX', 912),
 (22, 'ELVIS', 'MARX', 964),
 (23, 'SANDRA', 'KILMER', 6),
 (23, 'SANDRA', 'KILMER', 42),
 (23, 'SANDRA', 'KILMER', 78),
 (23, 'SANDRA', 'KILMER', 105),
 (23, 'SANDRA', 'KILMER', 116),
 (23, 'SANDRA', 'KILMER', 117),
 (23, 'SANDRA', 'KILMER', 125),
 (23, 'SANDRA', 'KILMER', 212),
 (23, 'SANDRA', 'KILMER', 226),
 (23, 'SANDRA', 'KILMER', 235),
 (23, 'SANDRA', 'KILMER', 254),
 (23, 'SANDRA', 'KILMER', 367),
 (23, 'SANDRA', 'KILMER', 370),
 (23, 'SANDRA', 'KILMER', 414),
 (23, 'SANDRA', 'KILMER', 419),
 (23, 'SANDRA', 'KILMER', 435),
 (23, 'SANDRA', 'KILMER', 449),
 (23, 'SANDRA', 'KILMER', 491),
 (23, 'SANDRA', 'KILMER', 536),
 (23, 'SANDRA', 'KILMER', 549),
 (23, 'SANDRA', 'KILMER', 636),
 (23, 'SANDRA', 'KILMER', 649),
 (23, 'SANDRA', 'KILMER', 673),
 (23, 'SANDRA', 'KILMER', 691),
 (23, 'SANDRA', 'KILMER', 766),
 (23, 'SANDRA', 'KILMER', 782),
 (23, 'SANDRA', 'KILMER', 804),
 (23, 'SANDRA', 'KILMER', 820),
 (23, 'SANDRA', 'KILMER', 826),
 (23, 'SANDRA', 'KILMER', 833),
 (23, 'SANDRA', 'KILMER', 842),
 (23, 'SANDRA', 'KILMER', 853),
 (23, 'SANDRA', 'KILMER', 855),
 (23, 'SANDRA', 'KILMER', 856),
 (23, 'SANDRA', 'KILMER', 935),
 (23, 'SANDRA', 'KILMER', 981),
 (23, 'SANDRA', 'KILMER', 997),
 (24, 'CAMERON', 'STREEP', 3),
 (24, 'CAMERON', 'STREEP', 83),
 (24, 'CAMERON', 'STREEP', 112),
 (24, 'CAMERON', 'STREEP', 126),
 (24, 'CAMERON', 'STREEP', 148),
 (24, 'CAMERON', 'STREEP', 164),
 (24, 'CAMERON', 'STREEP', 178),
 (24, 'CAMERON', 'STREEP', 194),
 (24, 'CAMERON', 'STREEP', 199),
 (24, 'CAMERON', 'STREEP', 242),
 (24, 'CAMERON', 'STREEP', 256),
 (24, 'CAMERON', 'STREEP', 277),
 (24, 'CAMERON', 'STREEP', 335),
 (24, 'CAMERON', 'STREEP', 405),
 (24, 'CAMERON', 'STREEP', 463),
 (24, 'CAMERON', 'STREEP', 515),
 (24, 'CAMERON', 'STREEP', 585),
 (24, 'CAMERON', 'STREEP', 603),
 (24, 'CAMERON', 'STREEP', 653),
 (24, 'CAMERON', 'STREEP', 704),
 (24, 'CAMERON', 'STREEP', 781),
 (24, 'CAMERON', 'STREEP', 829),
 (24, 'CAMERON', 'STREEP', 832),
 (24, 'CAMERON', 'STREEP', 969),
 (25, 'KEVIN', 'BLOOM', 21),
 (25, 'KEVIN', 'BLOOM', 86),
 (25, 'KEVIN', 'BLOOM', 153),
 (25, 'KEVIN', 'BLOOM', 179),
 (25, 'KEVIN', 'BLOOM', 204),
 (25, 'KEVIN', 'BLOOM', 213),
 (25, 'KEVIN', 'BLOOM', 226),
 (25, 'KEVIN', 'BLOOM', 245),
 (25, 'KEVIN', 'BLOOM', 311),
 (25, 'KEVIN', 'BLOOM', 404),
 (25, 'KEVIN', 'BLOOM', 411),
 (25, 'KEVIN', 'BLOOM', 420),
 (25, 'KEVIN', 'BLOOM', 538),
 (25, 'KEVIN', 'BLOOM', 564),
 (25, 'KEVIN', 'BLOOM', 583),

# Challenge 1 - Working with JSON files
Import the pandas library.

In [3]:
import pandas as pd

In the next cell, load the data in nasa.json in the data folder and load it into a pandas dataframe. Name the dataframe nasa.

In [5]:
df_nasa= pd.read_json('/Users/rutepalminha/Desktop/ironhack/week2/labs2/lab-import-export/your-code/nasa.json')

Now that we have loaded the data, let's examine it using the head() function.

In [6]:
df_nasa.head()

,:@computed_region_cbhk_fwbd,:@computed_region_nnqa_25f4,fall,geolocation,id,mass,name,nametype,recclass,reclat,reclong,year
0,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [6.08333, 50....",1,21.0,Aachen,Valid,L5,50.77500,6.08333,1880-01-01T00:00:00.000
1,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [10.23333, 56...",2,720.0,Aarhus,Valid,H6,56.18333,10.23333,1951-01-01T00:00:00.000
2,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [-113, 54.216...",6,107000.0,Abee,Valid,EH4,54.21667,-113.00000,1952-01-01T00:00:00.000
3,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [-99.9, 16.88...",10,1914.0,Acapulco,Valid,Acapulcoite,16.88333,-99.90000,1976-01-01T00:00:00.000
4,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [-64.95, -33....",370,780.0,Achiras,Valid,L6,-33.16667,-64.95000,1902-01-01T00:00:00.000

####  The value_counts() function is commonly used in pandas to find the frequency of every value in a column.

In the cell below, use the value_counts() function to determine the frequency of all types of asteroid landings by applying the function to the fall column.

In [10]:
df_nasa['fall'].value_counts()

Fell     996
Found      4
Name: fall, dtype: int64

Finally, let's save the dataframe as a json file again. Save the dataframe using the orient=records argument and name the file nasa-output.json. Remember to save the file inside the data folder.

In [13]:
df_nasa.to_json('nasa_output.json',orient='records')

# Challenge 2 - Working with CSV and Other Separated Files

Import the pandas library

csv files are more commonly used as dataframes. In the cell below, load the file from the URL provided using the `read_csv()` function in pandas. Starting version 0.19 of pandas, you can load a csv file into a dataframe directly from a URL without having to load the file first like we did with the JSON URL. The dataset we will be using contains informtaions about NASA shuttles. 

In the cell below, we define the column names and the URL of the data. Following this cell, read the tst file to a variable called `shuttle`. Since the file does not contain the column names, you must add them yourself using the column names declared in `cols` using the `names` argument. Additionally, a tst file is space separated, make sure you pass ` sep=' '` to the function.

In [3]:
#Your pandas import here:
import pandas as pd

In [8]:
# Run this code:

cols = ['time', 'rad_flow', 'fpv_close', 'fpv_open', 'high', 'bypass', 'bpv_close', 'bpv_open', 'class']
tst_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/statlog/shuttle/shuttle.tst'

In [17]:
shuttle=pd.read_csv(tst_url,sep=' ', names= cols)
shuttle

,time,rad_flow,fpv_close,fpv_open,high,bypass,bpv_close,bpv_open,class
55,0,81,0,-6,11,25,88,64,4
56,0,96,0,52,-4,40,44,4,4
50,-1,89,-7,50,0,39,40,2,1
53,9,79,0,42,-2,25,37,12,4
55,2,82,0,54,-6,26,28,2,1
...,...,...,...,...,...,...,...,...,...
80,0,84,0,-36,-29,4,120,116,5
55,0,81,0,-20,25,26,102,76,4
55,0,77,0,12,-22,22,65,42,4
37,0,103,0,18,-16,66,85,20,1
56,2,98,0,52,1,42,46,4,4

Let's verify that this worked by looking at the `head()` function.

In [18]:
# Your code here:
shuttle.head()

,time,rad_flow,fpv_close,fpv_open,high,bypass,bpv_close,bpv_open,class
55,0,81,0,-6,11,25,88,64,4
56,0,96,0,52,-4,40,44,4,4
50,-1,89,-7,50,0,39,40,2,1
53,9,79,0,42,-2,25,37,12,4
55,2,82,0,54,-6,26,28,2,1

To make life easier for us, let's turn this dataframe into a comma separated file by saving it using the `to_csv()` function. Save `shuttle` into the file `shuttle.csv` and ensure the file is comma separated and that we are not saving the index column.

In [19]:
# Your code here:
shuttle.to_csv('shuttle.csv',sep=',')

# Challenge 3 - Working with Excel Files

We can also use pandas to convert excel spreadsheets to dataframes. Let's use the `read_excel()` function. In this case, `astronauts.xls` is in the same folder that contains this notebook. Read this file into a variable called `astronaut`. 

Note: Make sure to install the `xlrd` library if it is not yet installed.

In [27]:
# Your code here:
astronaut=pd.read_excel('/Users/rutepalminha/Desktop/ironhack/week2/labs2/lab-import-export/your-code/astronauts.xls')

Use the `head()` function to inspect the dataframe.

In [28]:
# Your code here:
astronaut.head()

,Name,Year,Group,Status,Birth Date,Birth Place,Gender,Alma Mater,Undergraduate Major,Graduate Major,Military Rank,Military Branch,Space Flights,Space Flight (hr),Space Walks,Space Walks (hr),Missions,Death Date,Death Mission
0,Joseph M. Acaba,2004.0,19.0,Active,1967-05-17,"Inglewood, CA",Male,University of California-Santa Barbara; Univer...,Geology,Geology,NaN,NaN,2,3307,2,13.0,"STS-119 (Discovery), ISS-31/32 (Soyuz)",NaT,NaN
1,Loren W. Acton,NaN,NaN,Retired,1936-03-07,"Lewiston, MT",Male,Montana State University; University of Colorado,Engineering Physics,Solar Physics,NaN,NaN,1,190,0,0.0,STS 51-F (Challenger),NaT,NaN
2,James C. Adamson,1984.0,10.0,Retired,1946-03-03,"Warsaw, NY",Male,US Military Academy; Princeton University,Engineering,Aerospace Engineering,Colonel,US Army (Retired),2,334,0,0.0,"STS-28 (Columbia), STS-43 (Atlantis)",NaT,NaN
3,Thomas D. Akers,1987.0,12.0,Retired,1951-05-20,"St. Louis, MO",Male,University of Missouri-Rolla,Applied Mathematics,Applied Mathematics,Colonel,US Air Force (Retired),4,814,4,29.0,"STS-41 (Discovery), STS-49 (Endeavor), STS-61 ...",NaT,NaN
4,Buzz Aldrin,1963.0,3.0,Retired,1930-01-20,"Montclair, NJ",Male,US Military Academy; MIT,Mechanical Engineering,Astronautics,Colonel,US Air Force (Retired),2,289,2,8.0,"Gemini 12, Apollo 11",NaT,NaN

Use the `value_counts()` function to find the most popular undergraduate major among all astronauts.

In [29]:
# Your code here:
astronaut['Undergraduate Major'].value_counts()

Physics                                  35
Aerospace Engineering                    33
Mechanical Engineering                   30
Aeronautical Engineering                 28
Electrical Engineering                   23
                                         ..
Astronomy                                 1
Marine Engineering & Nautical Science     1
Philosophy                                1
Bioscience                                1
Military Science                          1
Name: Undergraduate Major, Length: 83, dtype: int64

Due to all the commas present in the cells of this file, let's save it as a tab separated csv file. In the cell below, save `astronaut` as a tab separated file using the `to_csv` function. Call the file `astronaut.csv` and remember to remove the index column.

In [30]:
# Your code here:
astronaut.to_csv('astronaut.csv', sep='\t')

# Bonus Challenge - Fertility Dataset

Visit the following [URL](https://archive.ics.uci.edu/ml/datasets/Fertility) and retrieve the dataset as well as the column headers. Determine the correct separator and read the file into a variable called `fertility`. Examine the dataframe using the `head()` function.

In [15]:
# Your code here: